body{
	margin : 0;
}

/*Index Page*/

.index-Container{
	background: linear-gradient(45deg,#0CCDA3,#C1FCD3);
	display : flex;
	flex-direction: column;
	justify-content : center;
	align-items : center;
	height : 90vh;
}

.index-btn{
	padding: 10px 15px;
    background-color: #ffffff;
    color: #0CCDA3;
    border: none;
    width : 150px;
    height : 70px;
    border-radius: 35px;
    font-size: 25px;
    box-shadow : 5px 5px 5px #666,inset -2px -2px 10px rgba(0, 0, 0, 0.5);
   /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), 
              -2px -2px 10px rgba(255, 255, 255, 0.3);*/
}


.index-btn:hover{
	  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3), 
              inset -2px -2px 10px rgba(255, 255, 255, 0.3);
}

/*tableSelector Page Styles*/
.nav-bar{
	padding-left : 20px;
	padding-right : 20px;
	height : 10vh;
	background : #2E2D2D;
	display : flex;
    align-items: center;
    justify-content: space-between;
}

h1{
	font-size : 60px;
	color : white;
	margin : 0 0 5px 0;
}
.page-descript{
	width : 600px;
	color : white;
	font-size : 20px;
	margin : 5px 0 15px 0;
}

.body-container {
	background: linear-gradient(45deg,#0CCDA3,#C1FCD3);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    height : 90vh;
}

.body-elements-container {
	display : flex;
	flex-direction : column;
	justify-content: center;
    width : 100%;
    margin-left: 40px ;
}

.form-container{
	display : flex;
	flex-direction : column;
	justify-content: center;
	text-align : center;
	margin : 0;
}

.selectors{
	width : 200px;
	height : 50px;
	border-radius : 10px;
	margin : 15px 0 10px 0;
}

.submit-btn{
	color: #0CCDA3;
	width: 150px;
	font-size: 20px;
	background: #ffffff;
	border : none;
	border-radius: 30px;
	height: 40px;
	margin : 10px 0 0 0;
}

iframe {
    width : 100%;
    height : 100%;
}

/*columnSelector Page Styles*/

.column-viewer{
	display : flex;
	align-items : center;
	justify-content : center;
	margin : 0;
	height : 95vh;
}

.columns-container{
	padding : 10px;
	width : 300px;
	height : 300px;
	overflow-y:scroll;
}

.column-list{
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size : 30px;
  color : white;
}

li{
	display : flex;
	align-items : center;
	justify-content : space-between;
	margin-bottom : 20px;
}

.column-Name{
	margin : 0;
}

#checkBox{
	margin : 0 0 0 30px;
	width : 30px;
	height : 30px;
}

.selector{
	width : 15px;
	height : 15px;
}

.radioBtn-container{
	width : 300px;
	margin : 20px 0;
	display : flex;
	align-items : center;
	justify-content : center;
	font-size : 20px;
	color : white;
}

.view-list{
	padding : 0 10px;
}

/* ScrollBar Styles*/

:root {
    --scrollbar-width: 8px;
    --scrollbar-bg-color: #FFFFFF;
    --thumb-color: #0CCDA3;
    --thumb-hover-color: #066c55;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background-color: var(--scrollbar-bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--thumb-hover-color);
}


/*Table Viewer Page Styles*/


.table-container{
    width : 1fr;
	margin-top : 50%;
	display : flex;
	flex-direction : column;
	align-items : center;
	justify-content : center;
	height : 100%;
	font-size : 30px;
}

.next-page{
	display : flex;
	align-Items : center;
	margin-top : 30px;
}

.pageNo-list{
	padding : 0 1px 0 1px;
}

.pageNo{
	background : white;
}

th{
  background : white;
  padding: 20px 15px;
  text-align: left;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border: solid 2px rgba(0,0,0,1);
}
td{
  background : white;
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  border: solid 2px rgba(0,0,0,1);
}

h2{
	color : white;
}